name: Build release tools

permissions:
  id-token: write
  contents: read
  packages: write

on:
  push:
    branches:
      - main
    tags:
      - "v*"

jobs:
  oss-tools-build:
    runs-on: ubuntu-latest
    concurrency:
      group: oss-tools-build
      cancel-in-progress: true
    steps:
      - uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push Docker image
        uses: docker/build-push-action@v5
        id: build-and-push
        with:
          context: .
          push: true
          target: tools
          platforms: linux/amd64,linux/arm64
          tags: |
            ${{ github.ref_type == 'tag' && format('ghcr.io/obot-platform/tools:{0}', github.ref_name) || format('ghcr.io/{0}:latest', github.repository) }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Install Cosign
        uses: sigstore/cosign-installer@v3.8.1
        with:
          cosign-release: "v2.4.3"

      - name: Sign Images
        env:
          DIGEST: ${{ steps.build-and-push.outputs.digest }}
          TAGS: ${{ github.ref_type == 'tag' && format('ghcr.io/obot-platform/tools:{0}', github.ref_name) || format('ghcr.io/{0}:latest', github.repository) }}
        run: |
          images=""
          for tag in ${TAGS}; do
            images+="${tag}@${DIGEST} "
          done
          cosign sign --yes ${images}
